.tableRow {
	min-height: 60px;
}

.tableRow button {
	margin: 0 var(--space-xs);
}

.tableRow button:not(:last-child) {
	min-width: 150px;
}

@media (max-width: 768px) {
	.tableRow button {
		width: 90%;
		margin: var(--space-md) 0;
	}
}
