.searchContainer {
	width: 50%;
	margin-bottom: var(--space-xl);
	margin-left: auto;
	margin-right: auto;
}

.searchContainer :global(.rt-TextFieldInput):focus {
	box-shadow: none;
	outline: none;
}

@media (max-width: 768px) {
	.searchContainer {
		width: 90%;
	}
}