.segment {
	background-color: var(--color-bg-secondary);
	border: 1px solid var(--color-bg-tertiary);
	padding: var(--space-xl);
	box-shadow: var(--shadow-paper);
}

@media screen and (max-width: 768px) {
	.segment {
		padding: var(--space-xl) var(--space-sm);
	}
}
