.avatarContainer {
	width: fit-content;
	position: absolute;
	top: 175px;
	z-index: var(--z-above);
}

.profileInfoContainer {
	position: relative;
	min-height: 175px;
	height: fit-content;
	background-color: var(--color-bg-secondary);
	border-bottom-left-radius: var(--radius-xl);
	border-bottom-right-radius: var(--radius-xl);
}

.profileTextContainer {
	height: 100%;
	margin-left: 200px;
}

.locationText {
	white-space: nowrap;
}

.locationText svg {
	color: var(--color-text-secondary);
}

.usernameHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-2);
}

.usernameHeader .trailName {
	color: var(--color-text-secondary);
	font-size: var(--font-size-4);
}

.optionsMenu {
	position: absolute;
	top: var(--space-5);
	right: var(--space-6);
}

@media (max-width: 768px) {
	.avatarContainer {
		top: 175px;
		left: calc(50% - 75px);
	}

	.profileTextContainer {
		margin-left: 0;
		margin-top: 75px;
	}

}
