button.newPackButton {
	background: transparent;
	color: var(--color-constant-white);
	cursor: pointer;
	border: none !important;
	box-shadow: none;
}

.newPackButton:hover {
	filter: var(--hover-dark-2);
}

@media (max-width: 768px) {
	.newPackButton {
		font-size: var(--font-size-base);
		margin-top: var(--space-md);
	}
}
