.packListItemContainer {
	padding: var(--space-min) 0;
	cursor: pointer;
}

.packListItemContainer:hover svg {
	opacity: var(--opacity-60);
}

.styledText {
	position: relative;
	font-size: var(--font-size-sm);
}

.gripContainer {
	position: absolute;
	left: calc(-1 * var(--space-lg));
	cursor: grab;
	display: flex;
	align-items: center;
	height: 100%;
	top: 0;
	padding-right: var(--space-xs);
}

.gripContainer svg {
	width: 0.8rem;
	height: 0.8rem;
}
