.sidebarButton {
	opacity: 0.4;
	background-color: transparent;
	cursor: pointer;
}

.sidebarButton:hover {
	filter: var(--brightness-dark-1);
}

.sidebarButton.isSidebar {
	color: var(--color-constant-white);
	position: absolute;
	right: var(--space-xxl);
	top: var(--space-xxl);
	opacity: 0.8;
}

