.headerCell {
  position: relative;
  overflow: visible;
}

@media (max-width: 768px) {
  .headerCell {
    flex: 1;
    height: fit-content;
  }
}

.input {
  background-color: var(--gray-2) !important;
  font-weight: 500;
}

@media (max-width: 768px) {
  .input {
    height: 40px;
    font-size: 1.3em;
  }
}