.headerCell {
	position: relative;
	overflow: visible;
}

.headerCellInput {
	/* Very specific size works for text proportions */
	font-size: 1.05rem;
}

@media (max-width: 768px) {
	.headerCell {
		flex: 1;
		height: fit-content;
	}
}
