.propertiesCell svg {
	width: 15px;
	height: 15px;
	cursor: pointer;
	color: var(--gray-500);
	fill: currentColor;
}

.propertiesCell svg:hover {
	filter: var(--brightness-dark-2);
}

.propertiesCell .favoriteActive {
	color: var(--amber-accent);
}

.propertiesCell .wornWeightActive {
	color: var(--teal-accent);
}

.propertiesCell .consumableActive {
	color: var(--indigo-accent);
}

.flexContainer {
	justify-content: space-evenly;
}

.flexContainer button {
	background: transparent;
}

.disabledIcon {
	cursor: default;
	pointer-events: none;
}

.disabledIcon:hover {
	opacity: inherit;
	color: inherit;
	background-color: transparent;
}
