
:global(.aow).categoryHeader {
	padding: 0;
}

.categoryHeaderContent {
	display: flex;
	align-items: center;
	gap: var(--space-min);
	padding: var(--space-sm) var(--space-lg) var(--space-sm) 0;
}

.categoryName {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	color: var(--color-text-primary);
	margin: 0;
	flex: 1;
}

.categoryTotals {
	display: flex;
	justify-content: space-between;
	font-size: var(--font-size-sm);
	color: var(--color-text-secondary);
	padding: var(--space-xs) var(--space-md);
	background-color: var(--color-bg-tertiary);
	filter: var(--brightnes-light-1);
}

.totalItem,
.totalWeight,
.totalPrice {
	font-weight: var(--font-weight-medium);
	color: var(--color-constant-white);
}

.itemsContainer {
	gap: var(--space-sm);
}

:global(.aow) .itemsContainer {
	padding: 0;
}

:global(.aow).categoryFooter {
	padding: var(--space-sm);
}
