.lightText {
	color: var(--gray-500);
	display: flex;
	align-items: center;
}

.lightText svg {
	margin-right: var(--space-xs);
}

.shareText {
	composes: lightText;
	margin-left: var(--space-md);
	cursor: pointer;
}

.shareText:hover {
	color: var(--sage-900);
}
