.pack-weight-cell-container {
  max-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.weight-table-cell-input {
  max-width: 70px;
  height: 35px;
}

.ui.input.weight-table-cell-input > input {
  text-align: right;
}
