.ui.popup.url-popup-container {
	max-width: fit-content;
}

.ui.popup.url-popup-container input {
	width: 400px;
}

.ui.popup.url-popup-container i {
	cursor: pointer;
	color: grey;
}

.ui.popup.url-popup-container i:hover {
	color: black;
}

.item-name-cell {
	position: relative;
}

.item-name-cell input {
	height: 30px;
}

.ui.fixed.table td:first-child {
	overflow: visible;
}

p.item-name-text {
	margin-left: 20px;
}
