.header {
	background-color: var(--color-primary);
	height: var(--mobile-nav-height);
	width: 100%;
	position: fixed;
	z-index: 100;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--space-xl);
}

.header h1 {
	color: var(--color-constant-white);
}

.header button {
	margin-left: auto;
}

.menuButton {
	background: transparent;
	color: white;
}
