.outerPanel {
	width: 50%;
	transition: max-height 350ms ease-in-out;
}

.chartPanel {
	width: 50%;
	margin-left: var(--space-xl);
}

.graphicPanel {
	height: 30vh;
}

.graphicPanel img {
	height: 100%;
}

.styledText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 15ch;
	margin-right: var(--space-xs);
}

.summaryPanel {
	padding-right: var(--space-md);
}

.chartList {
	width: fit-content;
}

@media (max-width: 768px) {
	.outerPanel {
		width: 100%;
		overflow: hidden;
		flex-direction: column-reverse;
		max-height: 150vh;
		margin-bottom: var(--space-xxl);
	}
	
	.outerPanel.hidden {
		max-height: 0;
		margin-bottom: 0;
	}

	.chartPanel {
		width: 75vw;
		margin-left: 0;
		margin-bottom: var(--space-xl);
	}

	.summaryPanel {
		padding-right: 0;
		align-items: center;
	}

	.chartList {
		width: 75vw;
	}
}

.chartItem {
	height: 2.5em;
	font-size: var(--font-size-sm);
}

.chartItem p {
	margin-right: var(--space-xs);
}

.themeIcon {
	width: 1.5rem;
	margin-right: var(--space-xs);
}

.graphicPanel svg {
	margin-right: var(--space-xs);
}