.ui.table td.table-button {
  position: absolute;
  border: none;
  bottom: 10px;
}

td.table-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 50px;
}
