.table-button button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.table-button input {
	height: 30px;
}

button.table-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0px 0px;
	padding: 5px;
	:hover {
		color: black !important;
	}
}

select.weight-unit-select {
	background-color: transparent;
	color: #000000af;
	border-radius: 5px;
	border: none;
	outline: none;
}

div.grip-icon i {
	position: absolute;
	left: -60px;
	opacity: 0.2;
	width: 60px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	touch-action: manipulation;
}
