.outerPanel {
	width: 50%;
	height: 100%;
	transition: max-height 350ms ease-in-out;
}

.outerPanel.hidden {
	max-height: 0;
	margin-bottom: 0;
}

.chartPanel {
	width: 50%;
}

.summaryPanel {
	height: 100%;
}

@media (max-width: 768px) {
	.outerPanel {
		width: 100%;
		overflow: hidden;
		flex-direction: column-reverse;
		max-height: 100%;
		margin-bottom: var(--space-12);
	}

	.chartPanel {
		width: 100%;
		margin-bottom: var(--space-8);
		padding: 0 var(--space-3);
	}

	.summaryPanel {
		align-items: center;
	}
}
