/* Hides button styles for popover menu  */
.newPackButton:hover,
.newPackButton:active {
	background: transparent;
}

.menuButton {
	width: 100%;
	justify-content: flex-start;
}

@media (max-width: 768px) {
	.newPackButton {
		font-size: var(--font-size-xl);
		margin-top: var(--space-md);
		padding-left: 0;
	}

	.menuButton {
		font-size: var(--font-size-xl);
	}
}
