/* Hides button styles for popover menu  */
.newPackButton:hover,
.newPackButton:active {
	background: transparent;
}

.newPackButton {
	padding-left: 0;
}

@media (max-width: 768px) {
	.newPackButton {
		font-size: var(--font-size-xl);
		margin-top: var(--space-md);
		padding-left: 0;
	}
}
