.pageContainer {
	margin: 0 auto;
	padding-top: var(--space-sm);
}

.actionHeader {
	padding: 0;
}

.header {
	text-align: center;
	margin-bottom: var(--space-lg);
}

.header h1 {
	margin-top: 0;
}


.actionButtons {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
	margin-top: var(--space-lg);
}
