/* Radix UI Component Overrides */

.radix-themes {
	height: 100%;
}

/* Match TextArea border thickness to TextField */
.rt-TextAreaInput {
	border-width: 2px;
}

/* TextField */
.rt-TextFieldInput {
	border: 1px solid transparent;
	text-indent: var(--space-xs);
}

.rt-TextFieldInput:hover:not(:focus) {
	border: 1px solid transparent;
	outline: 1px solid var(--color-primary);
}

.rt-TextFieldInput:focus {
	border: 1px solid var(--color-primary);
	box-shadow: none;
	outline: none;
	transition: none;
}

/* Override Radix input defaults to minimal styles with hidden borders */
.input-minimal {
	border: var(--text-field-border-width, 1px) solid var(--color-bg-primary);
	box-shadow: none;
	outline: none;
	background-color: transparent;
}

.input-minimal:hover:not(:focus) {
	border-color: var(--gray-400);
	outline: none;
	box-shadow: none;
}

.input-minimal:focus {
	border-color: var(--color-primary);
	outline: none;
	box-shadow: none;
}

/* -- Hide hover styles for disabled input -- */
.rt-TextFieldInput.input-minimal:disabled:hover:not(:focus) {
	background-color: var(--color-bg-primary);
	border-color: var(--color-bg-primary);
}

/* TextArea */
.rt-TextAreaRoot > textarea.rt-TextAreaInput {
	border: 2px solid transparent;
}

.rt-TextAreaRoot > textarea.rt-TextAreaInput:hover:not(:focus) {
	border: 2px solid transparent;
	outline: 1px solid var(--color-primary);
}

.rt-TextAreaRoot > textarea.rt-TextAreaInput:focus {
	border: 2px solid var(--color-primary);
	outline: none;
	box-shadow: none;
}

/* Form validation styling */
input[data-invalid='true'] {
	border: 1px solid var(--red-500);
	background-color: var(--color-error-bg);
}

/* Override deeply nested inline styles from Radix */
.rt-ScrollAreaRoot {
	overflow: visible;
}

div.rt-ScrollAreaViewport {
	overflow: visible !important;
}

.rt-TableRoot {
	overflow: visible !important;
}

.rt-TableRoot:where(.rt-variant-surface) :where(.rt-TableRootTable) {
	overflow: visible !important;
}

/* Override Radix selection styles */
.radix-themes *::selection {
	background-color: var(--sage-400);
	color: var(--color-constant-white);
}
