.footer {
	padding: var(--space-md) 0;
}

.logoTag {
	margin-top: var(--space-md);
	font-weight: 500;
}

.logoTag * {
	color: var(--color-text-tertiary);
}

.logoTag:hover {
	filter: var(--brightness-dark-2);
}

.logoTag svg {
	margin: 0 var(--space-xs);
}
