.tableRow {
	position: relative;
	background-color: var(--color-bg-secondary);
	transition: transform 120ms ease-out;
}

.tableRowDragging {
	opacity: 0 !important;
	transform: none !important;
	transition: none !important;
}

.tableRowDraggingActive {
	background-color: var(--color-bg-primary);
	transform: scale(1.02);
	box-shadow: var(--shadow-classic);
	border-radius: var(--radius);
}

.tableRow input {
	background-color: var(--color-bg-secondary);
	border-color: var(--color-bg-secondary);
}

.tableRow td {
	vertical-align: middle;
}

.tableRow td:first-child {
	overflow: visible;
}



:global(.aow).tableActionButton {
	padding: 0 var(--space-2);
}
