.styledBadge {
	padding: var(--space-min) var(--space-xs);
	background-color: var(--color-bg-primary);
	border: 1px solid var(--color-bg-tertiary);
}

.styledBadge:hover {
	background-color: var(--color-bg-primary);
	box-shadow: var(--shadow-paper);
	cursor: pointer;
}

/* Override base link text color styles to be more subtle */
.styledBadge a,
.styledBadge a:hover {
	color: var(--color-text-secondary);
}

:global(.aow).socialButtonPicker svg {
	color: var(--color-constant-white);
}
