nav {
  background: white;
  height: 12vh;
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

menu:last-child {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  margin-left: auto;
}

li:hover {
  text-decoration: underline;
}
