nav {
  background: #514f59;
  color: white;
  height: 100vh;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vh 50px;
}

a {
  color: white;
}

menu:last-child {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  /* margin-left: auto; */
}

li:hover {
  text-decoration: underline;
}
