.sidebar {
	width: 1280px;
	position: fixed;
	right: 50%;
	transform: translateX(calc(50% - 1030px));
	background: var(--gray-700);
	color: var(--color-constant-white);
	height: 100%;
	transition: all 500ms ease;
}

.sidebarHidden {
	opacity: 0;
}

.sidebarVisible {
	opacity: 1;
}

.sidebar a,
.sidebar a:visited {
	color: var(--color-constant-white);
}

@media only screen and (max-width: 1280px) {
	.sidebar {
		z-index: 100;
		width: 20%;
		left: 0;
		opacity: 1;
	}
	
	.sidebarHidden {
		transform: translateX(-100%);
	}
	
	.sidebarVisible {
		transform: translateX(0);
	}
}

@media only screen and (max-width: 768px) {
	.sidebar {
		z-index: 100;
		width: 100%;
		right: 0%;
		opacity: 1;
	}
	
	.sidebar h3 {
		font-size: 2rem;
	}
}

.sidebarContainer {
	width: 250px;
	height: 100%;
	padding: var(--space-xxl) 50px;
	box-sizing: border-box;
	position: relative;
}

@media (max-width: 768px) {
	.sidebarContainer {
		width: 100%;
	}
}

.separator {
	background-color: var(--color-constant-white);
	width: 100%;
	opacity: 0.1;
}