.account-segment-group {
	width: 50vw;
	.ui.segment {
		padding: 35px 25px;
	}
	.ui.segment button {
		margin: 0px 10px;
	}

	div.form-button-container {
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}
}
