div.share-settings-container {
	display: flex;
	p {
		opacity: 0.4;
	}
}

div.share-settings-popup-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

p.share-settings-text {
	opacity: 0.4;
}

p.share-button {
	margin-left: 15px;
	cursor: pointer;
}

p.share-button:hover {
	opacity: 1;
	color: #2185d0;
}
