.segmentHeader {
	margin-bottom: var(--space-md);
}

.segmentTitle {
	display: block;
	color: var(--color-text-primary);
	font-size: var(--font-size-md);
	font-weight: 700;
	text-transform: none;
}

.segmentDescription {
	font-size: var(--font-size-sm);
	color: var(--color-text-secondary);
}
