.innerContainer {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--color-bg-tertiary);
}

.outerContainer {
	position: relative;
	overflow: visible;
	border: none;
	border-radius: 0px;
}


.avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dimmer {
	width: 100%;
	height: 100%;
}

.uploadContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.small {
	width: 50px;
	height: 50px;
}

.medium {
	width: 75px;
	height: 75px;
}

.big {
	width: 100px;
	height: 100px;
}

.large {
	width: 150px;
	height: 150px;
}

.withBorder {
	border: 3px solid var(--color-bg-primary);
}

.defaultAvatar {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg-tertiary);
	color: var(--color-text-tertiary);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.defaultIcon {
	width: 100%;
	height: 100%;
	margin-bottom: -15%;
	color: currentColor;
	fill: currentColor;
}

.small .defaultIcon {
	margin-bottom: -15%;
}

.medium .defaultIcon {
	margin-bottom: -15%;
}

.large .defaultIcon {
	margin-bottom: -15%;
}
