.innerContainer {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	background-color: var(--color-bg-tertiary);
}

.outerContainer {
	position: relative;
	overflow: visible;
	border: none;
	border-radius: 0px;
}


.avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dimmer {
	width: 100%;
	height: 100%;
}

.uploadContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.sm {
	width: 50px;
	height: 50px;
}

.md {
	width: 100px;
	height: 100px;
}

.lg {
	width: 150px;
	height: 150px;
}

.withBorder {
	border: 3px solid var(--color-bg-primary);
}

.defaultAvatar {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg-tertiary);
	color: var(--color-text-tertiary);
	position: relative;
}

.defaultIcon {
	color: currentColor;
	fill: currentColor;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

.defaultIcon.sm {
	width: 44px;
	height: 44px;
	bottom: -5px;
	margin: 0;
}

.defaultIcon.md {
	width: 90px;
	height: 90px;
	bottom: -12px;
	margin: 0;
}

.defaultIcon.lg {
	width: 150px;
	height: 150px;
	bottom: -25px;
	margin: 0;
}
