.header {
	vertical-align: middle;
}

.header :global(svg) {
	opacity: 0;
	transition: opacity var(--transition);
}

.header:hover :global(svg) {
	opacity: 1;
}

.header :global(th) {
	height: 55px;
	box-shadow: none;
	border-bottom: 1px solid var(--color-border-primary);
}

.tableRow {
	transition: opacity var(--transition);
}

.tableRow.minimized {
	opacity: 0.5;
}

.tableRow.normal {
	opacity: 1;
}

.headerCell {
	vertical-align: middle;
	/* color: var(--color-text-primary); */
}

@media (max-width: 768px) {
	.tableRow.minimized {
		opacity: 1;
	}
}

:global(.aow).tableActionButton {
	padding: 0 var(--space-xs);
}
