.text {
	display: block;
	color: var(--color-text-primary);
	font-size: var(--font-size-sm);
	font-weight: 700;
	text-transform: none;
}

.textSubtle {
	font-size: var(--font-size-sm);
	opacity: 0.7;
}
