.styledBadge {
	padding: var(--space-xs) var(--space-min);
	background-color: var(--color-bg-secondary);
	color: var(--color-text-primary);
}

.styledBadge:hover {
	box-shadow: var(--shadow);
}

.styledBadge a,
.styledBadge a:hover {
	color: var(--color-text-primary);
}
