.styledCard {
	background-color: var(--color-bg-secondary);
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: 30%;
	position: relative;
	padding-bottom: var(--space-md);
}

.styledCard :global(.profilePackLink) {
	flex-direction: column;
	align-items: inherit;
	width: 100%;
}

.cardFooter {
	position: absolute;
	bottom: 0;
	width: calc(100% - var(--space-lg));
}

.cardFooterText {
	color: var(--color-text-tertiary);
}

.cardFooterText svg {
	margin-right: var(--space-xs);
}

