.packCardContainer {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-md);
	margin-top: var(--space-xxl);
	align-items: stretch;
}

/* Tablet and up need multi-column layout */
@media (min-width: 768px) {
	.packCardContainer {
		align-items: stretch;
	}
}
