.avatarContainer {
	width: fit-content;
	position: absolute;
	top: 200px;
	left: var(--space-xxl);
}

.profileInfoContainer {
	min-height: 175px;
	height: fit-content;
	padding: var(--space-lg) 0px;
	background-color: var(--color-bg-secondary);
	border-bottom-left-radius: var(--space-lg);
	border-bottom-right-radius: var(--space-lg);
}

.profileTextContainer {
	height: 100%;
	width: 50%;
	margin-left: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.locationText {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
}

.locationText svg {
	margin-right: var(--space-min);
	color: var(--color-text-secondary);
}

.usernameHeader {
	margin-bottom: var(--space-min);
}

.usernameHeader .trailName {
	color: var(--color-text-secondary);
	margin-left: var(--space-xs);
}

@media (max-width: var(--breakpoint-mobile)) {
	.avatarContainer {
		top: 175px;
		left: calc(50% - 75px);
	}

	.profileTextContainer {
		margin: 0px var(--space-md);
		margin-top: 75px;
		width: 90%;
		justify-content: flex-start;
	}
}
