@media only screen and (max-width: 767px) {
	table.dnxTable th,
	table.dnxTable td {
		padding: 1em 0.5em;
		position: relative;
	}

	table.dnxTable tr,
	table.dnxTable td,
	table.dnxTable tfoot {
		display: block !important;
		width: 100%;
	}

	table.denxTable tbody tr {
		border-top: 1px solid rgba(34, 36, 38, 0.1);
	}

	table.denxTable tfoot tr {
		border: none !important;
	}

	table.dnxTable td {
		border-top: none !important;
		border-left: none !important;
	}

	table.dnxTable tbody tr:not(:last-child) {
		padding: 0.25em 0;
		border: 1px solid rgba(34, 36, 38, 0.2);
	}

	table.dnxTable tbody tr:not(:last-child) {
		margin-bottom: 0.25em;
	}

	/** important1: theader is flex **/
	table.dnxTable thead tr {
		display: flex !important;
	}

	table.dnxTable tbody td {
		padding: 1em 0em !important;
		font-size: 1.2em;
		input {
			height: 40px;
		}
	}

	.dnxTable td:not(:last-child) {
		border-bottom: 1px solid rgba(34, 36, 38, 0.1);
	}

	/** important2: use data-label attribute as a table header **/
	/* table.dnxTable tbody td:before {
		content: attr(data-label);
		left: 0.5em;
		position: absolute;
		top: 0.15em;
		font-weight: bold;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 6em;
		overflow: hidden;
	} */
}
