.headerCell {
	/* To do: Mobile styles */
}

@media (max-width: 768px) {
	.headerCell {
		width: 25%;
	}
}

.flexContainer {
	height: 100%;
	justify-content: space-around;
}

.flexContainer > * {
	padding: var(--space-xs);
	cursor: pointer;
}

.flexContainer svg {
	cursor: pointer;
	color: var(--gray-500);
}

.flexContainer svg:hover {
	filter: var(--brightness-dark-2);
}

@media (max-width: 768px) {
	.flexContainer {
		opacity: 1;
		width: 100%;
	}
}

.flexVisible {
	opacity: 1;
}

.flexHidden {
	opacity: 0;
}

.tableButton {
	background-color: transparent;
	cursor: pointer;
	color: grey;
	margin: 0px 0px;
	padding: 5px;
	opacity: 1;
}

.tableButton:hover {
	color: black;
}

.tableButton input {
	height: 30px;
}

.tableButtonHidden {
	opacity: 0;
}

@media (max-width: 768px) {
	.tableButton {
		opacity: 1;
	}
}

.mobileToggleButton {
	font-size: var(--font-size-lg);
}

.tableButtonMarginLeft {
	margin-left: var(--space-md);
}

.gripContainer {
	position: absolute;
	top: 0px;
	left: -60px;
	z-index: 100;
	width: 60px;
	height: 44px;
	margin-left: 15px;
	touch-action: manipulation;
	opacity: 0;
}

.gripContainer svg {
	color: var(--gray-400);
}

.gripContainerVisible {
	opacity: 1;
	cursor: pointer;
}
