.dialogContent {
	max-width: 700px;
	position: relative;
}

.closeModalButton {
	position: absolute;
	right: var(--space-6);
	top: var(--space-5);
	cursor: pointer;
}

.closeModalButton svg {
	width: var(--icon-md);
	height: var(--icon-md);
}
