.tableButton {
	background-color: transparent;
	cursor: pointer;
	color: var(--color-text-secondary);
	margin: 0px 0px;
	padding: 5px;
	opacity: 1;
}

.tableButton:hover {
	color: var(--color-text-primary);
}

.tableButton input {
	height: 30px;
}

.tableButtonHidden {
	opacity: 0;
}

.tableButtonMarginLeft {
	margin-left: var(--space-md);
}

@media (max-width: 768px) {
	.tableButton {
		opacity: 1;
	}
}