.tableRow {
	position: relative;
	border: none;
	background-color: var(--color-bg-secondary);
	transition:
		background-color,
		box-shadow 200ms ease-in-out;
}

.tableRow input {
	background-color: var(--color-bg-secondary);
	border-color: var(--color-bg-secondary);
}

.tableRow td {
	vertical-align: middle;
}

.tableRow td:first-child {
	overflow: visible;
}

.tableRowDragging {
	box-shadow: var(--shadow-2);
}
