.table {
	table-layout: fixed;
	border: none;
	width: 100%;
	min-width: 100%;
}

/* Dynamically use palette color for top border for each category */
.table :global(thead.withPrimaryBorder) {
	border-top: 3px solid var(--color-primary);
}

@media (max-width: 768px) {
	.table {
		font-size: var(--font-size-sm);
	}

	/* Reduce padding on mobile */
	.table :global(th),
	.table :global(td) {
		padding: var(--space-xs);
	}
}
