.tableRow {
	position: relative;
	border: none;
	background-color: var(--color-bg-secondary);
	transition:
		background-color,
		box-shadow 200ms ease-in-out;
}

.tableRow input {
	background-color: var(--color-bg-secondary) !important;
	border-color: var(--color-bg-secondary) !important;
}

.tableRow td {
	vertical-align: middle;
}

.tableRow td:first-child {
	overflow: visible;
}

.tableRowDragging {
	box-shadow: 0px 8px 22px 0px rgba(0, 0, 0, 0.2);
}
