/* Global HTML/body layout */
html,
body,
body > div#root {
	height: 100%;
	margin: 0;
}

/* Global element styling */
button {
	cursor: pointer;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--teal-accent);
	&:hover {
		filter: var(--brightness-dark-1);
	}
}

/* Reset heading margins for last child elements */
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
	margin-bottom: revert;
	margin-top: revert;
}
