:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #f0f0f0;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
}

h1 {
	margin: 0;
}

a {
	cursor: pointer;
}

#app-view-container {
	background-color: #f0f0f0;
	height: 100vh;
	display: flex;
}

#view-component-container {
	width: 80vw;
	height: 100vh;
	overflow-y: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 10vh;
	padding-top: 5vh;
}

/* Changes to Semantic UI */
.ui.form .field.field input:-webkit-autofill,
.ui.form .field.field input:-webkit-autofill:focus,
.ui.form .field.field input:autofill,
.ui.form .field.field input:autofill:focus {
	/* box-shadow: 0 0 0 100px rgb(240, 240, 240) inset; */
	-webkit-text-fill-color: black;
	border: 1px solid rgb(240, 240, 240);
}

.ui.dimmer {
	background-color: rgba(0, 0, 0, 0.25);
}

.ui.mini.modal {
	left: calc(50% - 38px);
}

.ui.small.modal {
	left: 37.5%;
}

.ui.modal > i.close.icon {
	top: 10px;
	right: 10px;
}

/* Changes to Semantic UI */
