@import 'tailwindcss';

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
}

body > div#root {
	min-height: 100vh;
	margin: 0;
}

button,
.rt-Button {
	cursor: pointer;
}

a,
a:visited {
	cursor: pointer;
	text-decoration: none;
	color: var(--color-primary);
	&:hover {
		filter: var(--brightness-dark-1);
	}
}

p,
li,
span {
	color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text-primary);
}
