.tableContainer {
	width: 100%;
	text-align: center;
	margin-bottom: var(--space-xxl);
	display: flex;
}

.tableContainerDragging {
	box-shadow: var(--shadow-classic);
}

@media (max-width: 768px) {
	.tableContainer {
		height: fit-content;
		margin-bottom: var(--space-xxl);
	}

	.tableContainer.minimized {
		margin-bottom: 0px;
	}
}
