.graphicPanel {
	width: 50%;
	height: 100%;
	max-width: 400px;
}

.campingImage {
	width: 80%;
	height: auto;
	max-width: 300px;
}

.graphicPanel svg {
	margin-right: var(--space-xs);
}

@media (max-width: 768px) {
	.graphicPanel {
		width: 100%;
	}
}