.packForm {
	width: 100%;
	padding: var(--space-xs);
}

.mainDetails {
	display: flex;
	gap: var(--space-lg);
}

.leftPanel {
	flex: 1;
}

.rightPanel {
	flex-shrink: 0;
	width: 250px;
}

.extraDetails {
	width: 100%;
}
.tagsContainer {
	display: flex;
	justify-content: space-between;
}

.linkContainer {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.mainDetails {
		flex-direction: column;
		gap: var(--space-md);
	}

	.rightPanel {
		width: 100%;
	}

	.tagsContainer {
		flex-direction: column;
		gap: 0;
	}

	.linkContainer {
		flex-direction: column;
		gap: 0;
	}
}
