.guestViewContainer {
	min-height: 100%;
	box-sizing: border-box;
	background-color: var(--color-bg-primary);
	overflow-y: scroll;
	padding: var(--app-layout-padding);
	max-width: var(--max-width);
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.guestViewContainer {
		padding: var(--space-xl) var(--space-md);
	}
}

.guestViewContainer main {
	margin: 0 auto;
	min-height: 100%;
	box-sizing: border-box;
	max-width: var(--max-width);
	position: relative;
}
