.guestViewContainer {
	min-height: 100%;
	box-sizing: border-box;
	background-color: var(--tidy-bg);
	overflow-y: scroll;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 2vh;
	padding-top: 5vh;
}

@media (max-width: 768px) {
	.guestViewContainer {
		padding: 2em 1em;
	}
}

.guestViewContainer main {
	margin: 0 auto;
	min-height: 100%;
	box-sizing: border-box;
	max-width: var(--max-width);
	position: relative;
}