.header {
	background-color: var(--color-primary);
	color: var(--color-constant-white);
	padding: var(--space-xl) var(--space-xl);
	width: 100%;
	position: fixed;
	z-index: 100;
	box-shadow: var(--shadow-lg);
}

.header button {
	margin-left: auto;
}


.menuButton {
	background: transparent;
	color: white;
}
